* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

@font-face {
  font-family: 'Nexa-Black';
  src: url("../fonts/Nexa-Black.otf");
}

@font-face {
  font-family: 'Nexa-Bold';
  src: url("../fonts/Nexa-Bold.otf");
}

@font-face {
  font-family: 'Nexa-Book';
  src: url("../fonts/Nexa-Book.otf");
}

@font-face {
  font-family: 'PT_Sans-Web-Bold';
  src: url("../fonts/PT_Sans-Web-Bold.ttf");
}

@font-face {
  font-family: 'PT_Sans-Web-Italic';
  src: url("../fonts/PT_Sans-Web-Italic.ttf");
}

a:link, a:visited, a:active, a:hover {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

header {
  background: #ebebeb;
}

header .container section.logo {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
  height: 130px;
}

header .container section.logo a, form {
  align-self: center;
}

section.logo a img.logo-img {
  float: left;
  padding-right: 7px;
  position: relative;
  top: 7px;
}

section.logo a .logo-main-text {
  font-size: 2.438rem;
  font-family: "Nexa-Black";
  color: #6017a3;
}

section.logo a .logo-main-info {
  font-size: 0.75rem;
  font-family: "PT_Sans-Web-Italic";
  color: #9f9f9f;
}

section.logo a:nth-child(n+2) {
  font-family: "Nexa-Bold";
  font-size: 0.75rem;
  color: #d5d5d5;
  transition: color .4s ease;
}

section.logo a:nth-child(n+2):hover {
  color: #6017a3;
}

section.logo a:nth-child(2) span {
  position: relative;
  top: -4px;
  margin-right: 5px;
}

section.logo a:nth-child(3) span {
  transform: rotate(90deg);
  display: inline-block;
}

section.logo a:first-child {
  flex-basis: 237px;
}

input[type="search"].main-search {
  width: 300px;
  height: 46px;
  outline: none;
  border: none;
}

input[type="search"].main-search::-webkit-input-placeholder {
  font-family: "Nexa-Bold";
  font-size: 0.75rem;
  color: #d5d5d5;
  padding-left: 20px;
}

input[type="image"].search-img {
  position: relative;
  top: 8px;
  right: 40px;
}

header .container nav {
  display: flex;
  flex-wrap: wrap;
}

header .container nav a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  flex-basis: 16.5%;
  height: 110px;
  background: #ffffff;
  color: #9c9c9c;
  border-bottom: 5px solid #6017a3;
  transition: all .4s;
}

header .container nav a:hover {
  transition: all .3s;
  border-bottom: 1px solid #701dbb;
  color: #701dbb;
  transform: translateY(-5px);
}

header .container nav a:nth-child(-n+5) {
  border-right: 1px solid #d4d4d4;
}

header .container nav a p {
  margin: 0;
  margin-top: -30px;
  font-family: "PT_Sans-Web-Bold";
  font-size: 1.063rem;
}

header section.main-theme {
  height: 540px;
  background: url(../img/traveler/br-gr.png) 100% 100% no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

header section.main-theme aside {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;
  width: 140px;
  background: #451a4a;
  border-radius: 50%;
}

.help-block {
  background: #2d2d2d;
}

.help-block .container article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help-block .container article p:nth-child(1) {
  margin-top: 50px;
  font-size: 2.25rem;
  color: #ffffff;
  font-family: "Nexa-Book";
}

.help-block .container article p:nth-child(2) {
  margin-bottom: 10px;
  font-family: "Nexa-Book";
  font-size: 0.875rem;
  color: #a161db;
}

.help-block .container article img {
  max-width: 940px;
  width: 100%;
}
