html {
    font-size: 16px;
}

@font-face {
    font-family: 'Nexa-Black';
    src: url('../fonts/Nexa-Black.otf');
}
@font-face {
    font-family: 'Nexa-Bold';
    src: url('../fonts/Nexa-Bold.otf');
}
@font-face {
    font-family: 'PT_Sans-Web-Bold';
    src: url('../fonts/PT_Sans-Web-Bold.ttf');
}
@font-face {
    font-family: 'PT_Sans-Web-Italic';
    src: url('../fonts/PT_Sans-Web-Italic.ttf');
}
$nexaBlack: 'Nexa-Black';
$nexaBold: 'Nexa-Bold';
$ptSansItalic: 'PT_Sans-Web-Italic';
$ptSansBold: 'PT_Sans-Web-Bold';

$maincolor: #6017a3;
$colortext: #707070;
$lightcolor: #d5d5d5;
    a:link, a:visited , a:active, a:hover {
    text-decoration: none;
}
.container {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}
header{
    background: #ebebeb;
    padding: 10px 10px 0;
}

header .container section.logo{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;
    height: 130px;
}
header .container section.logo a,form{
    align-self: center;
}

section.logo {
    a {
        img.logo-img{
        float: left;
        padding-right: 7px;
        position: relative;
        top: 7px;
        }
        .logo-main-text{
            font-size: 2.438rem;
            font-family:$nexaBlack;
            color: $maincolor;
        }
        .logo-main-info{
            font-size: 0.75rem;
            font-family: $ptSansItalic;
            color: #9f9f9f;
    }
  }
    a:nth-child(n+2){
        font-family: $nexaBold;
        font-size: 0.75rem;
        color: $lightcolor;
        transition: color .4s ease;
        &:hover{
            color: $maincolor;
        }
    }
    a:nth-child(2){
        span{
            position: relative;
            top: -4px;
            margin-right: 5px;
        }
    }
    a:nth-child(3){
        span{
            transform: rotate(90deg);
            display: inline-block;
        }
    }    
}
section.logo a:first-child {
    flex-basis: 237px;
}
input[type="search"].main-search {
    width: 300px;
    height: 46px;
    outline: none;
    border: none;
}
    input[type="search"].main-search::-webkit-input-placeholder {
    font-family: $nexaBold;
    font-size: 0.75rem;
    color:$lightcolor;
    padding-left: 20px;
}
    input[type="image"].search-img {
    position: relative;

    top:8px;
    right: 40px;

}
header .container nav{
display: flex;
flex-wrap: wrap;
}
header .container nav a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    flex-basis: 16.5%;
    height: 110px;
    background: #ffffff;
    color: #9c9c9c;
    border-bottom: 5px solid #6017a3;
    transition: all .4s;
    &:hover{
        transition: all .3s;
        border-bottom: 1px solid #701dbb;
        color: #701dbb;
        transform: translateY(-5px);
    }
    &:nth-child(-n+5){
        border-right: 1px solid #d4d4d4;
    }
    p{
        margin: 0;
        margin-top: -30px;
        font-family: $ptSansBold;
        font-size: 1.063rem;
    }
}
header section.main-theme{
    height: 540px;
    background: url(../img/traveler/br-gr.png) 100% 100% no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    aside{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 140px;
        width: 140px;
        background: #451a4a;
        border-radius: 50%;
    }
}