header{
	background: url(images/header-bg.jpg) center center no-repeat;
	color: #fff;
	text-align: center;
	background-size: cover;
	padding: 135px 20px 90px 20px;
}
header>h1{
	font-size: 3.75em;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 25px;
}
header>h3{
	font-size: 1.125em;
	margin-bottom: 50px;
	font-style: italic;
}
header>p{
	font-size: 0.75em;
	
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.subscibe{
	background: rgba(0,0,0,0.65);
	display: table;
	padding: 20px;
	border-radius: 10px;
	margin: 0 auto 10px auto;

}
.subscibe input{
	float: left;
}

.subscibe input[type="text"], .subscibe input[type="number"], textarea {
	padding: 0; 	
	border: none;
	width: 320px;
	margin-right: 10px;
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	padding: 12px 20px 13px 20px;
	box-sizing: border-box;		
}
.subscibe input[type="submit"]{
	background: #ae2c52;
	border: none;
	color: #fff;
	font-size: 1.25em;
	font-family: "Open Sans", sans-serif;
	font-weight: 700 ;
	padding: 10px 35px;
	cursor: pointer;
}

article{
	max-width: 900px;
	margin: 0 auto;
	padding: 50px 20px;
}
article>h1{
	font-size: 3em;
	text-align: center;
	margin-bottom: 25px;
}
article>p{
	margin-bottom: 30px;
}
.imgleft{
	float: left;
	margin: 0 30px 20px 0;
	border-radius: 40px;
}

.slider{
	margin: 0 auto;
	margin-bottom: 60px;
	position: relative;
	left: 240px;
}
.imgs{
width: 405px;
height: 540px;
}
footer{
	background: url(images/2.jpg) center center no-repeat;
	color: #fff;
	text-align: center;
	background-size: cover;
	padding: 135px 20px 90px 20px;
	position: relative;
	top: 600px;
	height: 300px;

}
footer>h1{
	font-size: 3.75em;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 25px;
	color: black;
}
footer>h3{
	font-size: 1.5em;
	margin-bottom: 10px;
	font-style: bold;
	font-weight: 500;
	color: black	;
}
a{
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	color: black;
}

a:active {
    color: #f00; /* Цвет активной ссылки */ 
   }
a:hover {
    color: gray; /* Цвет активной ссылки */ 
   }



@media screen and (max-width: 1050px){
	.subscibe input[type="text"], .subscibe input[type="number"], textarea{
	width: 260px;
}
}
@media screen and (max-width: 935px){
	.subscibe input[type="text"], .subscibe input[type="number"], textarea{
	width: 200px;
}
.slider{
	
	position: relative;
	left: 210px;
}

}


@media screen and (max-width: 810px){
	.subscibe input[type="text"], .subscibe input[type="number"], textarea{
	width: 305px;
	display: block;
	float: none;
	margin-right: 0;
	margin-bottom: 10px;

}
.slider{
	
	position: relative;
	left: 150px;
}

header{
	padding: 30px 20px;
}
header>h1{
	font-size: 2.75em;
	
	margin-bottom: 20px;
}
header>h3{
	
	margin-bottom: 25px;
	
}
}
@media screen and (max-width: 700px){

.slider{
	
	position: relative;
	left: 130px;
}
}
@media screen and (max-width: 620px){

.slider{
	
	position: relative;
	left: 100px;
}
}
@media screen and (max-width: 570px){

.slider{
	
	position: relative;
	left: 80px;
}
.imgs{
width: 350px;
height: 485px;
}

}
@media screen and (max-width: 500px){

.slider{
	
	position: relative;
	left: 60px;
}
.imgs{
width: 300px;
height: 435px;
}

}

@media screen and (max-width: 400px){
	.subscibe input[type="text"], .subscibe input[type="number"], textarea{
	width: 240px;
}
.subscibe input[type="submit"], textarea{
	width: 240px;
	padding: 10px 35px 10px 3px;
}
.slider{
	
	position: relative;
	left: 40px;
}
.imgs{
width: 250px;
height: 385px;
}

}


@media screen and (max-width: 320px){
	.subscibe input[type="text"], .subscibe input[type="number"], textarea{
	width: 220px;
}
.subscibe input[type="submit"], textarea{
	width: 220px;
	padding: 10px 35px 10px 3px;
}
header{
	padding: 30px 20px;
}
.slider{
	
	position: relative;
	left: 20px;
}
.imgs{
width: 250px;
height: 385px;
}

}
